[
  {sasl,[{sasl_error_logger, {file, "log/smartplan.log"}},{tty, false}]},
  {base, [
    {kit, [
      {timed, [{dev, false}, {beta, false}, {prod, true}]}
    ]},
    {http, [
      {port, [{default, 7004}]},
      {acceptors, [{dev, 1}, {default, 100}]},
      {upload_limit, [{default, 10485760}]},
	  {upload_dir, [
        {dev, <<"./uploads">>}, 
        {beta, <<"/home/limestreams/docs/smartplan/beta">>}, 
        {prod, <<"/home/limestreams/docs/smartplan/live">>}
      ]},
      {verbose, [{dev, false}, {beta, false}, {prod, false}]}
    ]},
    {engine, [
      {concurrency, [{default, 1}]},
      {job_run_timeout, [{default, 600}]},
      {job_swap_timeout, [{default, 500}]},
      {job_grace_timeout, [{default, 200}]},
      {job_stop_timeout, [{default, 100}]},
      {job_debrief_timeout, [{default, 200}]},
      {verbose, [{dev, false}, {beta, false}, {prod, false}]}
    ]},
    {redis, [
      {verbose, [{dev, false}, {beta, false}, {prod, false}]}
    ]},
    {events, [
      {verbose, [{dev, false}, {beta, false}, {prod, false}]}
    ]},
    {security, [
      {root, [{default, <<"010d8164-b8d4-445e-b4c7-ef9b1188c2ff">>}]},
      {acls, [{default, [<<"organizations">>, <<"schedules">>, <<"tasks">>, <<"admin">>, <<"issues">>]}]},
      {expiration, [{default, 30}]}
    ]},
    {apps, [
      {<<"a66b914d-ef72-43d4-b8b2-c19e9035e8e2">>, [
        {dev, [{name, <<"web">>}, {location, <<"http://localhost:7004">>}]},
        {beta, [{name, <<"web">>}, {location, <<"https://beta.smartplan.team">>}]},
        {prod, [{name, <<"web">>}, {location, <<"https://www.smartplan.team">>}]}]}
    ]},
    {mail, [
      {verbose, [{dev, true}, {beta, false}, {prod, false}]},
      {enabled, [{dev, true}, {beta, true}, {prod, true}]},
      {provider, [{default, "https://api.postmarkapp.com/email" }]},
      {provider_key, [{default, "987aca32-4ae4-4ac1-afb8-30ebe3576b12" }]},
      {from, [{default, <<"SmartPlan <info@smartplan.team>">>}]}
    ]},
    {schedules, [
      {shift_types, [{default, [<<"std">>, <<"idle">>, <<"extra">>, <<"training">>]}]},
      {indicators, [{default, [
        [{id, <<"166e6ca8-71f0-4f95-b6e8-097a87ec9a9b">>}, {name, extra_time_w}, {unit, duration}, {type, w}, {rank, 3}, {value, 10.0}],
        [{id, <<"2a74b538-e037-4083-b23a-1fc0a4ffe127">>}, {name, idle_time_w}, {type, w}, {unit, duration}, {rank, 2}, {value, 10.0}],
        [{id, <<"3fd277f0-b3fc-45a5-bfe7-1e6af33bee1f">>}, {name, std_time_w}, {type, w}, {unit, duration}, {rank, 1}, {value, 35.0}],
        [{id, <<"d82ae797-f5e6-4923-82cb-2af23bc73d79">>}, {name, training_time_w}, {type, w}, {unit, duration}, {rank, 4}, {value, 10.0}],
        [{id, <<"975f9975-839c-4da2-9b52-3c0e75ab73fa">>}, {name, min_scheduled_time_d}, {type, d}, {unit, duration}, {rank, 1}, {value, 1}],
        [{id, <<"9aad5b3a-32e7-4dde-b0d1-d5ab3e6ad3d0">>}, {name, max_scheduled_time_d}, {type, d}, {unit, duration}, {rank, 1}, {value, 7}],
        [{id, <<"65f0e7a7-fcf3-4651-a0ee-3049e2baadce">>}, {name, max_time_between_shifts_d}, {type, d}, {unit, duration}, {rank, 2}, {value, 15}],
        [{id, <<"15600503-0eec-41fe-9b27-b36d11aa4f01">>}, {name, min_time_between_shifts_d}, {type, d}, {unit, duration}, {rank, 2}, {value, 0}],
        [{id, <<"a48775c0-adfb-4000-a065-6690b90607da">>}, {name, min_shift_duration_d}, {type, d}, {unit, duration}, {rank, 3}, {value, 15}],
        [{id, <<"f42b5db6-d35a-4319-9f46-ccaf949e5f33">>}, {name, max_shift_duration_d}, {type, d}, {unit, duration}, {rank, 3}, {value, 240}],
        [{id, <<"b1352935-6c66-45c0-b7d3-5f252ede3c05">>}, {name, max_allowed_shift_overlaps_d}, {type, d}, {unit, amount}, {rank, 4}, {value, 0}]
      ]}]}
    ]},
    {issues, [
      {estimates, [{default, [
        [{name, <<"needs_info">>}],
        [{name, <<"two_days">>}],
        [{name, <<"one_week">>}],
        [{name, <<"two_three_weeks">>}],
        [{name, <<"one_month_plus">>}]
      ]}]},
      {notifications, [{default, true}]},
      {owner, [{dev, <<"787904fe-6e56-4493-9622-4205a7e58428">> }, {beta, <<"787904fe-6e56-4493-9622-4205a7e58428">> }, {prod, undefined}]}
    ]},
    {assets, [
      {avatar, [{default, <<"98972d95-684d-4ef1-a758-b5682ef995de">>}]}
    ]},
    {i18n,[
      {hello,[
        {en, "Hello ~s,<br><br>"},
        {fr, "Bonjour ~s,<br><br>"},
        {es, "Hola ~s,<br><br>"}
      ]},
      {footer,[
        {en,"<br><br>Thank you,<br>The SmartPlan team" },
        {fr,"<br><br>Cordialement,<br>L'équipe SmartPlan" },
        {es,"<br><br>Un saludo,<br>El equipo de SmartPlan" }
      ]},
      {signup_subject,[
        {en, "Welcome to SmartPlan"},
        {fr, "Bievenue sur SmartPlan"},
        {es, "Bienvenida a SmartPlan"}
      ]},
      {signup_body,[
        {en, "Your SmartPlan account has been created! <br><br>Please <a href='~s'>click here</a> in order to <strong>confirm your email</strong> and <strong>set up your password</strong>."},
        {fr, "Votre compte SmartPlan vient d'être crée! <br><br>Veuillez <a href='~s'>cliquer ici</a> afin de <strong>confirmer votre email</strong> et <strong>mettre à jour votre mot de passe</strong>."},
        {es, "Su cuenta SmartPlan ha sido creada! <br><br>Por favor haga <a href='~s'>click aquí</a> para <strong>confirmar su email</strong> y <strong>configurar su contraseña</strong>."}
      ]},
      {forgot_password_subject,[
        {en, "Your SmartPlan password"},
        {fr, "Votre mot de passe SmartPlan"},
        {es, "Su contraseña SmartPlan"}
      ]},
      {forgot_password_body,[
        {en, "We received a request to reset your password. <br><br>Please <a href='~s'>click here</a> in order to <strong>confirm your email</strong> and <strong>reset your password</strong>."},
        {fr, "Nous avons reçu une demande de modification de votre mot de passe. <br><br>Veuillez <a href='~s'>cliquer ici</a> afin de <strong>confirmer votre email</strong> et <strong>mettre à jour votre mot de passe</strong>."},
        {es, "Hemos recibido una petición para cambiar su contraseña. <br><br>Por favor haga <a href='~s'>click aquí</a> para <strong>confirmar su email</strong> y <strong>configurar su contraseña</strong>."}
      ]},
      {reset_password_subject,[
        {en, "Password successfully changed"},
        {fr, "Mot de passé mis à jour avec succès"},
        {es, "Contraseña cambiada con éxito"}
      ]},
      {reset_password_body,[
        {en, "Your password was successfully changed. <br><br>Please <a href='~s'>click here</a> in order to <strong>login</strong> and start using SmartPlan."},
        {fr, "Votre mot de passe a éte mis à jour avec succès. <br><br>Veuillez <a href='~s'>cliquer ici</a> afin de commencer à utiliser SmartPlan."},
        {es, "Su contraseña ha sido cambiada con éxito. <br><br>Por favor haga <a href='~s'>click aquí</a> para empezar a utilizar SmartPlan."}
      ]},
      {issue_created_subject,[
        {en, "Issue #~s has been created"},
        {fr, "L'incidence #~s a été créee"},
        {es, "La incidencia #~s a sido creada"}
      ]},
      {issue_created_body,[
        {en, "Issue #~s has been <strong>created</strong>:<br/><br/>\"~s\""},
        {fr, "L'incidence #~s a été <strong>créee</strong>:<br/><br/>\"~s\""},
        {es, "La incidencia #~s a sido <strong>creada</strong>:<br/><br/>\"~s\""}
      ]},
      {issue_status_subject,[
        {en, "Issue #~s is now ~s"},
        {fr, "L'incidence #~s est maintenant ~s"},
        {es, "La incidencia #~s se está ahora ~s"}
      ]},
      {issue_status_body,[
        {en, "Issue #~s is now <strong>~s</strong>:<br/><br/>\"~s\""},
        {fr, "L'incidence #~s est maintenant <strong>~s</strong>:<br/><br/>\"~s\""},
        {es, "La incidencia #~s se está ahora <strong>~s</strong>:<br/><br/>\"~s\""}
      ]},
      {issue_comment_subject,[
        {en, "Issue #~s has a new comment"},
        {fr, "L'incidence #~s a un nouveau commentaire"},
        {es, "La incidencia #~s tiene un comentario nuevo"}
      ]},
      {issue_comment_body,[
        {en, "The following comment:<br/><br/>\"~s\"<br/><br/>was added to issue #~s:<br/><br/>\"~s\""},
        {fr, "Le commentaire suivant:<br/><br/>\"~s\"<br/><br/>a été ajouté à l'incidence #~s:<br/><br/>\"~s\""},
        {es, "El comentario siguient:<br/><br/>\"~s\"<br/><br/>a sido añadido a la incidencia #~s:<br/><br/>\"~s\""}
      ]},
      {issue_asset_subject,[
        {en, "Issue #~s has a new attachment"},
        {fr, "L'incidence #~s a une nouvelle pièce jointe"},
        {es, "La incidencia #~s tiene un nuevo documento adjunto"}
      ]},
      {issue_asset_body,[
        {en, "Issue #~s has a new attachment:<br/><br/>\"~s\""},
        {fr, "L'incidence #~s a une nouvelle pièce jointe:<br/><br/>\"~s\""},
        {es, "La incidencia #~s tiene un nuevo documento adjunto:<br/><br/>\"~s\""}
      ]},
      {issue_release_subject,[
        {en, "Issue #~s has now target release ~s"},
        {fr, "L'incidence #~s sera livrée en ~s"},
        {es, "La incidencia #~s será resuelta en la versión ~s"}
      ]},
      {issue_release_body,[
        {en, "Issue #~s has now target release <strong>~s</strong>:<br/><br/>\"~s\""},
        {fr, "L'incidence #~s sera livrée en <strong>~s</strong>:<br/><br/>\"~s\""},
        {es, "La incidencia #~s será resuelta en la version <strong>~s</strong>:<br/><br/>\"~s\""}
      ]},
      {issue_footer,[
        {en, "<br/><br/>Your issues email notifications are turned on. If you wish, you can turn them off in your profile page."},
        {fr, "<br/><br/>Vos notifications d'incidences sont activées. Si vous préférez, vous pouvez les désactiver à partir de votre page profil."},
        {es, "<br/><br/>Sus notificationes relativas a incidencias están activadas. Si prefiere, puede desactivarlas a partir de su perfil."}
      ]},

      {status_new,[
        {en, "new"},
        {fr, "nouvelle"},
        {es, "nueva"}
      ]},
      {status_progress,[
        {en, "in progress"},
        {fr, "en cours"},
        {es, "procesando"}
      ]},
      {status_resolved,[
        {en, "resolved"},
        {fr, "résolue"},
        {es, "resuelta"}
      ]},
      {status_closed,[
        {en, "closed"},
        {fr, "clôturée"},
        {es, "terminada"}
      ]}
    ]}      
  ]}
].
